* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: 'system-ui';
}

body {
    min-height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;

}

.calculadora {
    background-color: #48bfff;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

}

.pantalla {
    grid-column: 1 / 5;
    background-color: #232323;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-weight: bold;
}
button{
    background-color: #006a70;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .3s ease;


}

button:hover {
    transform: scale(1.05);

}
#cero {
    grid-column: span 2;

}

#igual {
    grid-row: span 2;
}
